*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/copyright
/.idea/misc.xml
/.idea/caches
/.idea/codeStyles
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
